
<div class="col-lg-8 col-md-6 main-content full-width basic-page sidebar" style="width:83%;">
    <h4>      Manage  LTA Application Inventory @*Report Application Mapping*@ </h4>
    <div class="row">
        <div ng-controller="ReportsApplicationMappingController" class="nav-tabs-custom">
            <div ng-include="'Main/ConfirmModal'"></div>

            <div class="row pull-right">
                <a target="_self" id="downloadpdf" href={{downloadurl}} download={{filename}} style="display: none"></a>
                @*<button data-ng-click="showfiltercondition()" class="btn btn-primary pull-right">Show Filter</button>
                    <button data-ng-click="removefilter()" class="btn btn-primary pull-right">Reset Filter</button>
                    <button data-ng-click="showreport()" class="btn btn-primary pull-right">Generate Report</button>*@
                <button data-ng-click="Export()" class="btn btn-primary pull-right">Export</button>
                <button ng-show="!showAddwindow" data-ng-click="Showadd()" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
            </div>
            <div ng-show="showAddwindow" class="sec-one">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>LTA Application</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationName" ng-options="item.LTAApplicationName for item in LTAApplicationNameList" title="Select LTAApplication" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select LTA Application Name-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>LTA Application Code</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationCode" ng-options="item.LTAApplicationCode for item in LTAApplicationCodeList" title="Select LTAApplication Code" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select LTA Application Code-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Child ID </label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.ChildID" ng-options="item.ChildID for item in ChildIDList" title="Select LTAApplicationSuffix" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Child ID -</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Third Party Application</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.ThirdPartyApp" ng-options="item.Value for item in ThirdPartyList" title="Select LTAApplicationSuffix" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Third Party-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Business Line </label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessLine" ng-options="item.BusinessLine for item in BusinessLineList" ng-change="userfilter(false)" title="Select BusinessLine" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Business Line-</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Parent ID</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.ParentID" ng-options="item.ParentID for item in ParentIDList" title="Select ParentID" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Parent ID-</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Application Owner</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationOwner" ng-options="item.userId for item in LTAApplicationOwnerList" title="Select LTAApplicationOwner" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select LTA Application Owner -</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Application Category</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.ApplicationCategory" ng-options="item.ApplicationCategory for item in ApplicationCategoryList" title="Select Application Category" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Application Category -</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Region</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-options="item.RegionName for item in RegionMasterList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select User Region -</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Country</label>
                        <select class="form-control" name="ddlSBU" ng-model="selectModel.Country" ng-options="item.CountryName for item in CountryMasterList" title="Select Division" style="width:100%;font-size: 0.8em" required>
                            <option value="">- Select Country -</option>
                        </select>

                    </div>

                    <div class="row col-md-12">
                        <button data-ng-show="editMode" data-ng-click="UpdateLTAApplicationMaster(LTAApplicationMaster)" class="col-md-2 col-md-offset-1 btn btn-primary">Update</button>
                        <button data-ng-show="!editMode" data-ng-click="add(selectModel)" class="col-md-2 col-md-offset-1 btn btn-primary">Add </button>
                        <button data-ng-click="Confirmcancel()" class="col-md-2 btn btn-primary cancel">Cancel </button>


                    </div>
                </div>
            </div>
            <div ng-show="!showAddwindow" class="col-md-12 data-table">
                <div class="row">
                    <table class="table table-responsive" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</div>

