<div class="modal fade" id="viewApprovals" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header content-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">Strategy Log</h4>
            </div>
            @*class="modal-body"*@
            <div>
                <div style="padding:30px">
                    @*content*@
                    <div class="row">

                        @*<div>
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>RefNumber</th>
                                            <th>Approver</th>
                                            <th>Status</th>
                                            <th>Comments</th>
                                            <th>ApprovedDate </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="right in ViewData">
                                            <td><a>{{right.RefNumber }}</a></td>
                                            <td>{{right.Approver}}</td>
                                            <td>
                                                <span class="label ">
                                                    <input type="button" class="btn btn-success" ng-show={{right.Status=="Y"}} value="Approved" /><input type="button" class="btn btn-danger" ng-show={{right.Status=="N"}} value="Rejected" />
                                                    <input type="button" class="btn btn-info" ng-show={{right.Status==""}} value="Pending" />
                                                </span>
                                            </td>
                                            <td>
                                                {{right.Comments}}
                                            </td>
                                            <td>
                                                {{right.ApprovedDate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                    </div>

                    <br />


                    <div ng-if="ViewListdata">
                        <table class="table table-responsive">
                            <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Log</th>
                                        <th>DateTime</th>
                                        <th>Created User</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="data in Listdata">

                                    <td>{{data.Version}}</td>

                                    <td>
                                        {{data.ChangeDesc}}
                                    </td>
                                    <td>
                                        {{data.CreatedDateTime}}
                                    </td>
                                    <td>
                                        {{data.Createdby}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

