<div class="col-lg-8 col-md-6 main-content full-width basic-page sidebar" style="width:83%;">
    <div class="row mail-task">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/LTAApplicationName">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">LTA Application Name</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="Main/LTAApplicationCode">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">LTA Application Code</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="Main/LTAStrategyCode">
                <div class="tsk-head bg-theme-dark hover-expand-effect">
                    <div class="content">
                        <div class="text">LTA Strategy Code</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/DiscretionaryCode">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Discretionary Code</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mail-task">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/ParentID">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Parent ID</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/ChildID">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Child ID</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Business">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Business</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/BusinessSuffix">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Business Suffix</div>
                    </div>
                </div>
            </a>
        </div>


    </div>

    <div class="row mail-task">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Region">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Region</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Country">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Country</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/BusinessLine">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Business Line</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/LTAStrategyName">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">LTA Strategy Name</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mail-task">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/ApplicationCategory">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Application Category</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Strategytype">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Strategy Type</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Venuetype">
                <div class="tsk-head bg-theme-light hover-expand-effect">

                    <div class="content">
                        <div class="text">Venue Type</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/Capacity">
                <div class="tsk-head bg-theme-light hover-expand-effect">

                    <div class="content">
                        <div class="text">Capacity</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>






