@{
    ViewBag.Title = "LoginDisplay";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Hidden("RedirectToHome", Url.Action("Index", "Home", new { Page = @Request.QueryString["Page"] }))
<div style="clear: both;"></div>
<div style="width:60%;margin-left:20%;margin-top:10%;">


    <div ng-app="LoginApp" ng-controller="ChangePasswordController" class="form-horizontal well changepwdstyle">

        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "login-form", data_async = "", data_target = "#rating-modal" }))
        {

            <fieldset class="field_set">

                <legend style="text-align: center;">Change Password</legend>

                <div class="form-group">
                    <label for="new-pwd" class="col-lg-4 control-label">New Password</label>
                    <div class="col-lg-6">
                        <div>
                            <input type="password" id="new-pwd" name="newpwd" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm-pwd=d" class="col-lg-4 control-label">Confirm Password</label>
                    <div class="col-lg-6">
                        <div>
                            <input type="password" id="confirm-pwd" name="confirmpwd" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-5 mtop10">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" id="btncancelpwd" class="btn btn-primary cancel" data-dismiss="modal">Clear</button>
                    </div>
                </div>

                <div style="color :red;text-align:center;background :bisque;margin :15px;padding :3px;" ng-if="errorMessage"><span ng-bind="errorMessage"></span> </div>

            </fieldset>


            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1">
                        <div class="panel panel-default">

                            <div class="panel-heading">The new password should include</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    1. At least 8 characters
                                    <div class="material-switch pull-right">
                                        <label for="someSwitchOptionDefault" class="label-default"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    2. Upper and lowercase letters: az, AZ
                                    <div class="material-switch pull-right">
                                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    3.Numbers: 0 - 9
                                    <div class="material-switch pull-right">
                                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Lib/angular.min.js"></script>
    <script src="~/Assert/angular-animate.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/loginApp.js"></script>


    <script type="text/javascript">
        $('#btncancelpwd').click(function () {
            $('#new-pwd').val('');
            $('#confirm-pwd').val('');
            $('.validation').html('');
        });

    </script>
</div>

<style>
    .login-logo h1 {
        font-size: 36px;
        font-weight: bold;
        color: #d2d6de;
        text-align: center;
        margin: 40px 0 60px 0;
    }

    #signin-form {
        max-width: 350px;
        margin: 0 auto 0;
        padding: 10px 0;
        background: #ffffff;
    }

        #signin-form h3 {
            font-size: 20px;
            font-weight: bold;
            color: #212121;
            text-align: center;
        }
    /*.login-box, .register-box {
                margin-top: 3% !important;
                margin-bottom: 1% !important;
            }*/
    .login-page, .register-page {
        background: url('images/bg.jpg') repeat -440px -360px;
        ;
    }
    /*body {
                height: 95%;
            }*/
    .login-form {
        padding-bottom: 12px;
    }

    .input-group-addon {
        border-radius: 0;
        background-color: #fff;
    }

    .input-group {
        padding: 12px 20px;
    }

    .form-control {
        border-radius: 0;
    }

    .row {
        padding: 6px 0 12px 0;
    }

    .col-lg-6 {
        padding-left: 45px;
    }

    .btn {
        border-radius: 0;
    }

    .btn-block {
        width: 30%;
        margin: 6px 0 0 35%;
    }

    .btn-link {
        padding: 5px;
    }
</style>
