<div class="col-lg-8 col-md-6 main-content full-width basic-page sidebar" style="width:83%;">

    <div class="row mail-task">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="Main/LTAApplicationMapping">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    @*<div class="icon">
                            <i class="fa fa-user"></i>
                        </div>*@
                    <div class="content">
                        <div class="text">LTA Application Mapping</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="Main/LTAStrategyMapping">
                <div class="tsk-head bg-theme-dark hover-expand-effect">
                    @*<div class="icon">
                            <i class="fa fa-cogs"></i>
                        </div>*@
                    <div class="content">
                        <div class="text">LTA Strategy Mapping</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/BusinessMapping">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    @*<div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>*@
                    <div class="content">
                        <div class="text">Business Mapping</div>
                    </div>
                </div>
            </a>
        </div>


        @*<div class="col-md-3 col-sm-6 col-xs-12 ">
            <a href="Main/ReportApplicationMapping">
                <div class="tsk-head bg-theme-light hover-expand-effect">
                    <div class="content">
                        <div class="text">Report Application Mapping</div>
                    </div>
                </div>
            </a>
        </div>*@

    </div>
</div>






