<div class="col-lg-10 col-md-9 main-content basic-page sidebar" style="width:83%;">
    <section class="content-header" style="padding-bottom:10px;">
        <h1>            Licensing</h1>

    </section>



</div>
