<!DOCTYPE html>
<html>
<head>
    <title>Trinity</title>
    <base href="/Trinity/">
    @*<base href="/">*@
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="login-page">
    @RenderBody()
</body>
</html>
