
@*<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c8dbc;color:white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-ng-click="delete()">Ok</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>*@


<div class="col-lg-8 col-md-6 main-content full-width basic-page sidebar"  style="width:83%;">
    <h4>      Manage Country </h4>
    <div class="row">
        <div ng-controller="CountryMasterController" class="nav-tabs-custom">
            <div ng-include="'Main/ConfirmModal'"></div>
            <div class="row pull-right"  style="margin-right:14%;">
                <button ng-show="!showAddwindow" data-ng-click="Showadd()" class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
            </div>
            <div ng-show="showAddwindow" class="sec-one">
                <div class="col-md-6 col-md-offset-2 row">

                    <div class="btns-b" ng-class="{'has-error':inputTask.$invalid && !inputTask.$pristine }">
                        <div class="col-md-6 form-group" style="position: static;">
                            <label for="input-text-1">Country Name</label>
                            <input type="text" class="form-control" id="input-id-1" placeholder="Country Name" ng-model=CountryMaster.CountryName>
                        </div>

                        <button data-ng-show="editMode" data-ng-click="UpdateCountryMaster(CountryMaster)" class="col-md-2 col-md-offset-1 btn btn-primary">Update</button>
                        <button data-ng-show="!editMode" data-ng-click="add(CountryMaster)" class="col-md-2 col-md-offset-1 btn btn-primary">Add </button>
                        <button data-ng-click="Confirmcancel()" class="col-md-2 btn btn-primary cancel">Cancel </button>

                    </div>

                </div>
            </div>

            <div ng-show="!showAddwindow" class="col-md-12 data-table" style="width:70%;margin-left:14%;">

                <div class="row">

                    <table class="table table-responsive" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</div>

