<!-- BEGIN PAGE BREADCRUMBS -->
<div ng-controller="ReportsController">
    <div ng-include="'Main/ConfirmModal'"></div>
    <div class="col-lg-10 col-md-9 main-content basic-page sidebar" style="width:83%;" ng-show="!showaction">
        <h4>Report</h4>
        <div ng-show="showfilter">
            <div class="col-md-3">

                <div class="form-group">
                    <label>LTA Application</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationName" ng-options="item.LTAApplicationName for item in LTAApplicationNameList" title="Select LTAApplication" style="width:100%;font-size: 0.8em" ng-change="userfilter3()" required>
                        <option value="">- Select LTA Application Name-</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Region</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Region" ng-options="item.RegionName for item in RegionMasterList" ng-change="userfilter(false)" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Region -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Country" ng-options="item.CountryName for item in CountryMasterList" title="Select Division" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Country -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>LTA Application Code</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationCode" ng-options="item.LTAApplicationCode for item in LTAApplicationCodeList" title="Select LTAApplicationCode" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select LTA Application Code -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Business Line</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.BusinessLine" ng-options="item.BusinessLine for item in BusinessLineList" ng-change="userfilter(false)" title="Select BusinessLine" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select BusinessLine-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>ChildID </label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.ChildID" ng-options="item.ChildID for item in ChildIDList" title="Select LTAApplicationSuffix" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Child ID -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Application Category</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.ApplicationCategory" ng-options="item.ApplicationCategory for item in ApplicationCategoryList" title="Select Application Category" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Application Category -</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>ThirdParty Application</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.ThirdPartyApp" ng-options="item.Value for item in ThirdPartyList" title="Select LTAApplicationSuffix" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select ThirdParty-</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Parent ID</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.ParentID" ng-options="item.ParentID for item in ParentIDList" title="Select ParentID" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Parent ID-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Venue type</label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.Venuetype" ng-options="item.Venuetype for item in VenuetypeList" title="Select Region" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select Venue Type-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>LTA Strategy Code</label>
                    <select class="form-control" ng-model="selectModel.LTAStrategyCode" ng-options="item.LTAStrategyCode for item in LTAStrategyCodeList" title="Select LTAStrategyCode" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select LTA Strategy Code -</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>LTA Application Owner </label>
                    <select class="form-control" name="ddlSBU" ng-model="selectModel.LTAApplicationOwner" ng-options="item.userId for item in LTAApplicationOwnerList" title="Select LTAApplicationOwner" style="width:100%;font-size: 0.8em" required>
                        <option value="">- Select LTA Application Owner -</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
            <a target="_self" id="downloadpdf" href={{downloadurl}} download={{filename}} style="display: none"></a>
            <button data-ng-click="showfiltercondition()" class="btn btn-primary pull-right">Show Filter</button>
            <button data-ng-click="removefilter()" class="btn btn-primary pull-right">Reset Filter</button>
            <button data-ng-click="showreport()" class="btn btn-primary pull-right">Generate Report</button>
            <button data-ng-click="Export()" class="btn btn-primary pull-right">Export</button>
        </div>
        <div class="col-md-10 data-table">
            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-responsive"></table>
        </div>
    </div>

</div>

<style>
    .{
        cursor: not-allowed;
    }

    .basic-page .form-control {
        height: 36px;
        padding: 0px 9px;
    }

    table tr {
        font-size: 14px;
    }
</style>


