<div class="container">
    <!-- BEGIN PAGE BREADCRUMBS -->
    <!-- END PAGE BREADCRUMBS -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <!-- END PAGE CONTENT INNER -->


    <div class="page-content-inner">
        <div class="mt-content-body">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2">
                    <div class="portlet light tasks-widget " style="height:400px;margin-top:100px;">
                        @*<img src="~/img/dashboard.png" />*@

                        <h1>WELCOME TO <strong>Trinity</strong></h1>
                        <br />
                        <br />
                        <ul class="two">
                            <li>
                                <label>LTA Strategy Inventory to Add/Edit Strategy </label>
                            </li>
                            <li>
                                <label>LTA Application Inventory to Add/Edit Application for making report generation efficient</label>
                            </li>
                            <li>
                                <label>Based on the role user privilleges are loaded</label>
                            </li>
                            <li>
                                <label>In Master page we can add application master data in repeated usage</label>
                            </li>
                            <li>
                                <label>In Mapping page we can add combination of application and it is automatically filled in LTA Strategy Inventory page based on selection</label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .two {
        list-style: circle;
    }
</style>