@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="clear: both;"></div>
<div>
    @using System.Web.Security;

    @using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new { @class = "form-horizontal well changepwdstyle", data_async = "", data_target = "#rating-modal" }))
    { 
        
        <fieldset class="field_set">

            <legend style="text-align: center;">Change Password</legend>

            <div class="form-group">
                <label for="cur-pwd" class="col-lg-4 control-label">Current Password</label>
                <div class="col-lg-6">
                    <div>
                        <input type="password" id="cur-pwd" name="curpwd" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="new-pwd" class="col-lg-4 control-label">New Password</label>
                <div class="col-lg-6">
                    <div>
                        <input type="password" id="new-pwd" name="newpwd" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm-pwd=d" class="col-lg-4 control-label">Confirm Password</label>
                <div class="col-lg-6">
                    <div>
                        <input type="password" id="confirm-pwd" name="confirmpwd" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-4 mtop10">
                    <button type="submit" class="SaveBtn">Submit</button>
                    <button type="button" id="btncancelpwd" class="CancelBtn" data-dismiss="modal">Reset</button>
                </div>
            </div>
            <p class="validation bg-danger"></p>
        </fieldset>

    
           
    }
</div>

<script type="text/javascript">
    $('#btncancelpwd').click(function () {
        $('#cur-pwd').val('');
        $('#new-pwd').val('');
        $('#confirm-pwd').val('');
        $('.validation').html('');
    });


</script>
